﻿@using Microsoft.AspNetCore.Http.Features
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CRMSB.Models.Clients>
<!DOCTYPE html>
<html lang="en">

<head>
    @{
        Html.RenderPartial("Share/_HeadStart");
    }

    <title>User Page</title>

    @{
        Html.RenderPartial("Share/_HeadLinks");
    }

</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        @{
        Html.RenderPartial("Share/_HeaderNavBar");
        Html.RenderPartial("Share/_SideBarMenu");
        }

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a>User</a></li>
                            <li><i class="fa fa-table"></i>Contacts List</li>
                            <li><i class="fa fa-plus-square"></i><a asp-action="Add_client" asp-controller="User">Add contact</a>
                                </li>
                        </ol>
                    </div>
                </div>
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">


                            <table class="table table-striped table-advance table-hover">
                                <tbody>
                                    <tr>
                                        <th><i class="icon_profile"></i> Full Name</th>
                                        <th><i class="icon_mobile"></i> Mobile</th>
                                        <th><i class="icon_mail_alt"></i> Email</th>
                                        <th><i class="icon_pin_alt"></i> Country</th>
                                        <th><i class="icon_pin_alt"></i> City</th>
                                        <th><i class="icon_pin_alt"></i> Region</th>
                                        <th><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                    @foreach (var clients in Model)
                                    {
                                    <tr>
                                        <td>@clients.FName @clients.LName</td>
                                        <td>@clients.PNumber</td>
                                        <td>@clients.Email</td>
                                        <td>@clients.Country</td>
                                        <td>@clients.City</td>
                                        <td>@clients.Region</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" asp-action="Edit_contact" asp-controller="User" asp-route-id="@clients.Id"><i class="icon_pencil-edit"></i></a>
                                          
                                                <a class="btn btn-danger" asp-action="delete_contact" asp-controller="User" asp-route-id="@clients.Id"><i class="icon_minus_alt2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    }






                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
        <div class="text-right">
            <div class="credits">
                <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->

            </div>s
        </div>
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- nicescrol -->
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="~/js/scripts.js"></script>


</body>

</html>
