﻿@using Microsoft.AspNetCore.Http.Features
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CRMSB.Models
@model CRMSB.Models.Clients


<html lang="en">

<head>
    @{
        Html.RenderPartial("Share/_HeadStart");
    }

    <title>User Page | Edit Contact</title>

    @{
        Html.RenderPartial("Share/_HeadLinks");
    }

</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        @{
            Html.RenderPartial("Share/_HeaderNavBar");
            Html.RenderPartial("Share/_SideBarMenu");
        }
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="icon_document_alt"></i> My Profile</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a>User</a></li>
                            <li><i class="icon_document_alt"></i>My Profile</li>

                        </ol>
                    </div>
                </div>
                <!-- Form validations -->
              
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="form">
                                    <form class="form-validate form-horizontal " asp-action="Edit_contact" asp-controller="User" method="post">
                                        <p>Client Information</p>
                                        <div class="form-group ">
                                            <label for="firstname" class="control-label col-lg-2">First name <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class=" form-control"  asp-for="FName" name="fname" type="text" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="lastname" class="control-label col-lg-2">Last name <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" asp-for="LName" name="lname" type="text" />
                                                <input class=" form-control" asp-for="UserId" value="@Model.UserId" type="hidden" />
                                            </div>
                                        </div>


                                        <br>
                                        <p>Contact Information</p>

                                        <div class="form-group ">
                                            <label for="phonenumber" class="control-label col-lg-2">Phone Number <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " asp-for="PNumber"  type="text" />
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label for="email" class="control-label col-lg-2">Email <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="email" asp-for="Email" name="email" type="email" />
                                            </div>
                                        </div>

                                        <p>Locate Information</p>

                                        <div class="form-group ">
                                            <label for="country" class="control-label col-lg-2">Country <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " asp-for="Country" name="country" type="text" />
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label for="city" class="control-label col-lg-2">City <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " asp-for="City" type="text" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="region" class="control-label col-lg-2">Region <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " asp-for="Region" name="region" type="text" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
        <div class="text-right">
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->

            </div>
        </div>
    </section>
    <!-- container section end -->

    @{
        Html.RenderPartial("Share/Scripts/_JsMain");
        Html.RenderPartial("Share/Scripts/_Bootstrap");
        Html.RenderPartial("Share/Scripts/_NiceScroll");

    }

    <!-- jquery validate js -->
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>

    <!-- custom form validation script for this page-->
    <script src="~/js/form-validation-script.js"></script>

    @{
        Html.RenderPartial("Share/Scripts/_AllPageScripts");
    }




</body>

</html>
