﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CRMSB.Models
@using Microsoft.EntityFrameworkCore.Infrastructure
@model CRMSB.Models.Todos
<!DOCTYPE html>
<html lang="en">

<head>
    @{
        Html.RenderPartial("Share/_HeadStart");
    }


    <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet">

    <title>User Page</title>

    @{
        Html.RenderPartial("Share/_HeadLinks");
    }

</head>

<body>
<!-- container section start -->
<section id="container" class="">


    @{
        Html.RenderPartial("Share/_HeaderNavBar");
        Html.RenderPartial("Share/_SideBarMenu");
    }
    <!--header end-->
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i><a>User</a>
                        </li>
                        <li><i class="fa fa-laptop"></i>Dashboard</li>
                    </ol>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 portlets">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>
                                <strong>Calendar</strong>
                            </h2>
                            <div class="panel-actions">
                                <a href="#" class="wminimize">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="#" class="wclose">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>

                        </div><br><br><br>
                        <div class="panel-body">
                            <!-- Widget content -->
                            <!-- Below line produces calendar. I am using FullCalendar plugin. -->
                            <div id="wrapper">
                                <div id="myScheduler"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <!--/.row-->
                <!-- Today status end -->

                @{
                    var user = (Users) ViewData["User"];
                }

                <div class="col-md-6">
                    <!--Project Activity start-->
                    <section class="panel">
                        <div class="panel-body progress-panel">
                            <div class="row">
                                <div class="col-lg-8 task-progress pull-left">
                                    <h1>To Do Everyday</h1>
                                </div>
                                <div class="col-lg-4">
                                    <span class="profile-ava pull-right">
                                        <img alt="" class="simple" src="~/img/avatar-mini2.jpg">
                                        @user.FName @user.LName
                                    </span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover table-striped ">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Subject</th>
                                <th>Type</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>


                            @{
                                IEnumerable<Todos> todos = (IEnumerable<Todos>) ViewData["Todos"];
                                String[] classes =
                                {
                                    "bg-success", "bg-primary", "bg-info", "bg-warning",
                                    "bg-important"
                                };

                                Random random = new Random();

                                foreach (var todo in todos)
                                {
                                    <tr>
                                        <td>@todo.Date</td>
                                        <td>
                                            @todo.Subject
                                        </td>
                                        <td>
                                            <span class="badge @classes[random.Next(4)]">@todo.Type</span>
                                        </td>
                                        <td>
                                            <a class="" asp-action="Delete_todo" asp-controller="User" asp-route-id="@todo.Id">
                                                <span class="badge red-bg">
                                                    <i class="icon_trash_alt button-back"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>


                        <header class="panel-heading">
                            Add event
                        </header>
                        <div class="panel-body">
                            <form class="form-inline " asp-controller="User" method="post" asp-action="Add_todo" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Date</label>
                                    <input type="text" asp-for="Date" class="form-control" placeholder="Date">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Subject</label>
                                    <input type="text" asp-for="Subject" class="form-control" placeholder="Subject">
                                </div>
                                <select class="custom-select custom-select-lg mb-3" asp-for="Type">
                                    <option selected>Type</option>
                                    <option value="Upload">Upload</option>
                                    <option value="Task">Task</option>
                                    <option value="To-Do">To-Do</option>
                                    <option value="Milestone">Milestone</option>
                                </select>
                                <input type="hidden" value="@user.Id" asp-for="UserId"/>
                                <button type="submit" class="btn btn-primary">Add event</button>
                            </form>

                        </div>


                    </section>
                    <!--Project Activity end-->
                </div>
            </div><br><br>
        </section>
        <!--main content end-->
    </section>
</section>
<!-- container section start -->
@{
    Html.RenderPartial("Share/Scripts/_JsMain");
    Html.RenderPartial("Share/Scripts/_Bootstrap");
    Html.RenderPartial("Share/Scripts/_NiceScroll");
    Html.RenderPartial("Share/Scripts/_ChartScripts");
    Html.RenderPartial("Share/Scripts/_CustomSelect");
    Html.RenderPartial("Share/Scripts/_AllPageScripts");
}
<!-- jQuery full calendar -->
<script src="~/js/fullcalendar.min.js"></script>
<!-- Full Google Calendar - Calendar -->
<script src="~/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>

<!--script for this page only-->
<script src="~/js/calendar-custom.js"></script>
<script src="~/js/jquery.rateit.min.js"></script>
<!-- custom script for this page-->
<script src="~/js/sparkline-chart.js"></script>
<script src="~/js/easy-pie-chart.js"></script>
<script src="~/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/js/xcharts.min.js"></script>
<script src="~/js/jquery.autosize.min.js"></script>
<script src="~/js/jquery.placeholder.min.js"></script>
<script src="~/js/gdp-data.js"></script>
<script src="~/js/morris.min.js"></script>
<script src="~/js/sparklines.js"></script>
<script src="~/js/charts.js"></script>
<script src="~/js/jquery.slimscroll.min.js"></script>
<script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<script>
    //knob
    $(function() {
        $(".knob").knob({
            'draw': function() {
                $(this.i).val(this.cv + '%')
            }
        })
    });

    //carousel
    $(document).ready(function() {
        $("#owl-slider").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

        });
    });

    //custom select box

    $(function() {
        $('select.styled').customSelect();
    });

    /* ---------- Map ---------- */
    $(function() {
        $('#map').vectorMap({
            map: 'world_mill_en',
            series: {
                regions: [
                    {
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }
                ]
            },
            backgroundColor: '#eef3f7',
            onLabelShow: function(e, el, code) {
                el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
            }
        });
    });


    YUI().use(
        'aui-scheduler',
        function(Y) {
            var events = [];


              
            @{ IEnumerable<ScheduleEvents> scevents = (IEnumerable<ScheduleEvents>) ViewData["events"]; }
            @foreach (var evnt in scevents)
            {
                if (evnt.EHours != null)
                {
                    <text>
                        events.push({
                            content: '@evnt.Content',
                            endDate: new Date(@evnt.EYear, @evnt.EMonth, @evnt.EDay, @evnt.EHours, @evnt.EMins),
                            startDate: new Date(@evnt.SYear, @evnt.SMonth, @evnt.SDay, @evnt.SHours, @evnt.SMins)
                        });
                    </text>
                }
                else
                {
                    <text>
                        events.push({
                            content: '@evnt.Content',
                            endDate: new Date(@evnt.EYear,
                                @evnt.EMonth,
                                @evnt.EDay),
                            startDate: new Date(@evnt.SYear,
                                @evnt.SMonth,
                                @evnt.SDay)
                        });
                    </text>
                }
                
            }


/*                  {
                      
                      content: 'AllDay',
                      endDate: new Date(2013, 1, 5, 23, 59),
                      startDate: new Date(2013, 1, 5, 0)
                  }];*/

            var agendaView = new Y.SchedulerAgendaView();
            var dayView = new Y.SchedulerDayView();
            var weekView = new Y.SchedulerWeekView();
            var monthView = new Y.SchedulerMonthView();
            var schedule;
            var eventRecorder = new Y.SchedulerEventRecorder({
                on: {
                    save: function(event) {
                        alert('Save Event:' + schedule.getEvents() + ' --- ' + ' --- ' + this.getClearStartDate() + ' --- ' + this.getClearEndDate());
                    },
                    edit: function(event) {
                        alert('Edit Event:' + schedule.getEvents()[0].getHoursDuration() + ' --- ' + this.getContentNode().getEvent + ' --- ' + this.getClearStartDate() + ' --- ' + this.getClearEndDate());
                    },
                    delete: function(event) {
                        alert('Delete Event:' + schedule.getEvents() + ' --- ' + this.getContentNode().getEvent + ' --- ' + this.getClearStartDate() + ' --- ' + this.getClearEndDate());
                    }
                }
            });

             schedule = new Y.Scheduler(
                {
                    activeView: monthView,
                    boundingBox: '#myScheduler',
                    eventRecorder: eventRecorder,
                    items: events,
                    render: true,
                    views: [dayView, weekView, monthView, agendaView]
                }
            );



        }
    );

</script>

</body>

</html>