﻿@using Microsoft.AspNetCore.Http.Features
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    @{
        Html.RenderPartial("Share/_HeadStart");
    }

    <title>Admin Page | Profile</title>

    @{
        Html.RenderPartial("Share/_HeadLinks");
    }
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        @{
            Html.RenderPartial("Share/_HeaderNavBar");
            Html.RenderPartial("Share/_SideBarMenu");
        }
        


       
        <!--header end-->
        <!--sidebar start-->
       
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="icon_document_alt"></i> My Profile</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                            <li><i class="icon_document_alt"></i>My Profile</li>

                        </ol>
                    </div>
                </div>
                <!-- Form validations -->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="form">
                                    <form class="form-validate form-horizontal " method="get" action="">
                                        <div class="form-group ">
                                            <label for="fullname" class="control-label col-lg-2">Full name <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="fullname" name="fullname" type="text" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="username" class="control-label col-lg-2">Login <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="username" name="username" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="password" class="control-label col-lg-2">Password <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="password" name="password" type="password" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="confirm_password" class="control-label col-lg-2">Confirm Password <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="confirm_password" name="confirm_password" type="password" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="email" class="control-label col-lg-2">Email <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="email" name="email" type="email" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                                <button class="btn btn-default" type="button">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
        <div class="text-right">
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->

            </div>
        </div>
    </section>
    <!-- container section end -->
    
<!-- javascripts -->
    @{
        Html.RenderPartial("Share/JsScripts/_JsMain");
        Html.RenderPartial("Share/JsScripts/_Bootstrap");
        Html.RenderPartial("Share/JsScripts/_NiceScroll");
    }
    <!-- jquery validate js -->
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>

    <!-- custom form validation script for this page-->
    <script src="~/js/form-validation-script.js"></script>
    @{
        Html.RenderPartial("Share/JsScripts/_AllPageScript");
    }


</body>

</html>
