﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CRMSB.Models.Admins
<!DOCTYPE html>
<html lang="en">

<head>
  @{
    Html.RenderPartial("Share/_HeadStart");
  }

  <title>Login Page</title>

  <!-- Bootstrap CSS -->
  <link href="~/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="~/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="~/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="~/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="~/css/style.css" rel="stylesheet">
  <link href="~/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" asp-action="auth" asp-controler="Admin" method="post">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" asp-for="Login" class="form-control" placeholder="Login" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" asp-for="Pass" class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
      
      </div>
    </form>
    <div class="text-right">
      <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
          
        </div>
    </div>
  </div>


</body>

</html>
