﻿@using Microsoft.AspNetCore.Http.Features
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CRMSB.Models.Users>
<!DOCTYPE html>
<html lang="en">

<head>
    @{
        Html.RenderPartial("Share/_HeadStart");
    }

    <title>Admin Page | Users List</title>

    @{
        Html.RenderPartial("Share/_HeadLinks");
    }
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        @{
            Html.RenderPartial("Share/_HeaderNavBar");
            Html.RenderPartial("Share/_SideBarMenu");
        }

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                            <li><i class="fa fa-table"></i>Users List</li>

                        </ol>
                    </div>
                </div>
                
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">


                            <table class="table table-striped table-advance table-hover">
                                <tbody>
                                    <tr>
                                        <th><i class="icon_profile"></i> First Name</th>
                                        <th><i class="icon_profile"></i> Last Name</th>
                                        <th><i class="icon_mail_alt"></i> Login</th>
                                        <th><i class="icon_pin_alt"></i> Password</th>
                                        <th><i class="icon_mobile"></i> Access Level</th>
                                        <th><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                    @foreach (var users in Model)
                                    {
                                    <tr>

                                        <td>@users.FName</td>
                                        <td>@users.LName</td>
                                        <td>@users.Login</td>
                                        <td>@users.Pass</td>
                                        <td>@users.Access</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-success" asp-controller="Admin" asp-action="Edit_user" asp-route-id="@users.Id"><i class="icon_pencil-edit"></i></a>
                                              
                                                <a class="btn btn-danger" asp-controller="Admin" asp-action="Remove" asp-route-id="@users.Id"><i class="icon_close_alt2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
        <div class="text-right">
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->

            </div>
        </div>
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    @{
        Html.RenderPartial("Share/JsScripts/_JsMain");
        Html.RenderPartial("Share/JsScripts/_Bootstrap");
        Html.RenderPartial("Share/JsScripts/_NiceScroll");
        Html.RenderPartial("Share/JsScripts/_AllPageScript");
    }
</body>

</html>
