<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-ui-1.10.4.min.js"></script>
<script src="~/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui-1.9.2.custom.min.js"></script>

