<!-- Bootstrap CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<!-- bootstrap theme -->
<link href="~/css/bootstrap-theme.css" rel="stylesheet">
<!--external css-->
<!-- font icon -->
<link href="~/css/elegant-icons-style.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<!-- full calendar css-->
<link href="~/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="~/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
<!-- easy pie chart-->
<link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
<!-- owl carousel -->
<link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
<link href="~/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<!-- Custom styles -->
<link rel="stylesheet" href="~/css/fullcalendar.css">
<link href="~/css/widgets.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/style-responsive.css" rel="stylesheet" />
<link href="~/css/xcharts.min.css" rel=" stylesheet">
<link href="~/css/jquery-ui-1.10.4.min.css" rel="stylesheet">




