@using CRMSB.Controllers
@using Microsoft.AspNetCore.Http.Features
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--sidebar start-->
<aside>
<div id="sidebar" class="nav-collapse ">
<!-- sidebar menu start-->
<ul class="sidebar-menu">
    <li class="active">
        <a class="" asp-area="" asp-controller="Admin" asp-action="Index">
            <i class="icon_house_alt"></i>
            <span>Admin</span>
        </a>
    </li>

    <li>
        <a class="" asp-area="" asp-controller="Admin" asp-action="Admin_profile">
            <i class="icon_document_alt"></i>
            <span>My Profile</span>
        </a>

    </li>

    <li>
        <a class="" asp-area="" asp-controller="Admin" asp-action="Users_list">
            <i class="icon_table"></i>
            <span>Users list</span>
        </a>

    </li>

    <li >
        <a class="" asp-area="" asp-controller="Admin" asp-action="Add_user">
            <i class="icon_table"></i>
            <span>Add User</span>
        </a>

    </li>


</ul>
<!-- sidebar menu end-->
</div>
</aside>
<!--sidebar end-->
