@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" asp-area="" asp-controller="User" asp-action="Index">
                    <i class="icon_house_alt"></i>
                    <span>User</span>
                </a>
            </li>

            <li>
                <a class="" asp-area="" asp-controller="User" asp-action="User_profile">
                    <i class="icon_document_alt"></i>
                    <span>My Profile</span>
                </a>

            </li>

            <li>
                <a class="" asp-area="" asp-controller="User" asp-action="Contact_list">
                    <i class="icon_table"></i>
                    <span>Contact List</span>
                </a>

            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

