<!-- charts scripts -->
<script src="~/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="~/js/owl.carousel.js"></script>

